

/* Allgemeine Stile */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Kopfzeile */
header {
  /*background-color: #f2f2f2;*/
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(180,216,185,1) 50%, rgba(148,187,233,1) 100%);
  padding: 20px;
  text-align: center;
}

h1#logo {
  color: #333; 
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.active a {
  color: rgb(253, 0, 0);
  writing-mode: vertical-rl;
}

/* Inhaltscontainer */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  /*background-image: url('images/pedro.gif');
  background-position: center;
  background-size: cover;
  overflow: auto; */
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

/* Produktliste */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-price {
  font-weight: bold;
}

/* Fußzeile */
footer {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(180,216,185,1) 50%, rgba(148,187,233,1) 100%);
  padding: 10px;
  text-align: center;
}

.squareImg {
  width: 200px;
  height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 0;
}

article.example {
  border: solid #f2f2f2 1px;
  width: 200px;
  height: fit-content;
  padding: 10px;
  background-color: rgba(95, 95, 95, 10%);
  text-align: center;
}

article.example p {
  padding: 3px;
  margin: 0;
}

.grid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

/* About us */

.about-container {
  text-align: center;
  /*background-color: #333;*/
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(180,216,185,1) 50%, rgba(148,187,233,1) 100%);
  border-radius: 20px;
  padding: 0px;
}

.about-container h2 {
  font-size: 100px;
}

/*Message Box - PHP*/

.message-container{
  font-size: 25px;
  background-color: aqua;
  width: 0 auto;
  border-radius: 25px;
}